<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
    <div class ="container1">

        <header>
            <div class="top">
                <h2>Galeria</h2>
            </div>
        </header>
        <h3>
            Witaj!</br>
            Aplikacja umożliwia wrzucenie obrazów do chmury i podglądanie ich w galerii</br>
        </h3>

        <button id="submit" onclick="window.location.href='/upload'">Upload</button>
        <button id="submit" onclick="window.location.href='/gallery'">Galeria</button>


    </div>
</body>
</html>